import pandas
import numpy as np
from Recommender.DeepContent.Recommender import DeepContentRecommender
from Recommender.DeepContent.LabellingModel import SongLabellingModel

recommender = DeepContentRecommender(None,None,None,'Recommender/DeepContent/use5-bestcheckpoint-0.08- 0.35.hdf5','dataset/song_preview/','dataset/deep_learning/label_map(boolean_mood).csv')
result = recommender.analyzeNewSong('/home/capt4ce/projects/major_project/dataset/song_preview/TRAAAAW128F429D538-mzm.jmksdiul.aac.p.m4a')
result.shape

# lModel = SongLabellingModel('Recommender/DeepContent/use5-bestcheckpoint-0.08- 0.35.hdf5','dataset/song_preview/','dataset/deep_learning/label_map(boolean_mood).csv')
# model = lModel.getModel()
# model

result

# Recommendation designing

In [1]:
import pandas
import numpy as np
import math

In [2]:
label_map_path = 'dataset/deep_learning/label_map(boolean_mood).csv'
main_song_label_path = 'dataset/main_song_labels.csv'
main_labels_path = 'dataset/main_labels.csv'
user_rating_path = 'dataset/main_user_rating.csv'

## Preparing song label packed

song_df = pandas.DataFrame(columns=['track_id', 'song_id', 'title', 'preview_file'])
labels_df = pandas.DataFrame(columns=['track_id', 'label'])
label_map_df = pandas.read_csv(label_map_path, sep='\t')
print label_map_df.head(4)

labels = label_map_df.columns[4:]
len(labels)

for idx,row in label_map_df.iterrows():
    related_labels = []
    for lbl in labels:
        if row[lbl]!=0:
            related_labels.append(lbl)
#     song_df.loc[len(song_df)] = [row['track_id'], row['song_id'], row['title'], row['preview_file'], str(related_labels).replace('[','').replace(']','')]
    song_df.loc[len(song_df)] = [row['track_id'], row['song_id'], row['title'], row['preview_file']]
#     print related_labels
    for lbl in related_labels:
#         print len(labels_df)
        labels_df.loc[len(labels_df)] = [row['track_id'], lbl]

print len(song_df)
print len(labels_df)
song_df.to_csv(main_song_label_path, sep='\t', encoding='utf-8', index=False)
labels_df.to_csv(main_labels_path, sep='\t', encoding='utf-8', index=False)
print(labels_df.head(5))
song_df.head(5)

labels_df[labels_df['track_id']=='TRAAAAW128F429D538']

## Preparing Label Vector Lengths

In [3]:
song_df = pandas.read_csv(main_song_label_path, sep='\t')
song_df.head(5)

,track_id,song_id,title,preview_file
0,TRAAAAW128F429D538,SOMZWCG12A8C13C480,I Didn't Mean To - Casual,TRAAAAW128F429D538-mzm.jmksdiul.aac.p.m4a
1,TRAAABD128F429CF47,SOCIWDW12A8C13D406,The Letter - The Box Tops,TRAAABD128F429CF47-mzm.maejowgk.aac.p.m4a
2,TRAAAEF128F4273421,SONHOTT12A8C13493C,Something Girls - Adam Ant,TRAAAEF128F4273421-mzm.wvrnqeth.aac.p.m4a
3,TRAAAFD128F92F423A,SOFSOCN12A8C143F5D,Face the Ashes - Gob,TRAAAFD128F92F423A-mzaf_7872227378043099108.pl...
4,TRAABLR128F423B7E3,SOHUOAP12A8AE488E9,Floating - Blue Rodeo,TRAABLR128F423B7E3-mzi.hrspqvdo.aac.p.m4a

In [4]:
labels_df = pandas.read_csv(main_labels_path, sep='\t')
labels_df['label_count'] = 1
labels_df.head(5)

             track_id                label  label_count
0  TRAAAAW128F429D538                Urban            1
1  TRAAAAW128F429D538  Western Hip-Hop/Rap            1
2  TRAAAAW128F429D538                anger            1
3  TRAAAAW128F429D538              neutral            1
4  TRAAAAW128F429D538                 slow            1

In [5]:
TF = labels_df.groupby(['track_id', 'label'], as_index=False).count().rename(columns={'label_count': 'label_count_TF'})
label_distinct = labels_df[['label', 'track_id']].drop_duplicates()
DF = label_distinct.groupby('label', as_index=False).count().rename(columns={'track_id': 'label_count_DF'})
a=math.log10(len(np.unique(labels_df['track_id'])))
DF['IDF']=a-np.log10(DF['label_count_DF'])
print TF.columns
print DF.columns
TF = pandas.merge(TF,DF,on = 'label', how = 'left', sort = False)
TF['TF-IDF']=TF['label_count_TF']*TF['IDF']
TF

Index([u'track_id', u'label', u'label_count_TF'], dtype='object')
Index([u'label', u'label_count_DF', u'IDF'], dtype='object')

,track_id,label,label_count_TF,label_count_DF,IDF,TF-IDF
0,TRAAAAW128F429D538,Urban,1,356,0.880396,0.880396
1,TRAAAAW128F429D538,Western Hip-Hop/Rap,1,211,1.107564,1.107564
2,TRAAAAW128F429D538,anger,1,1072,0.401651,0.401651
3,TRAAAAW128F429D538,neutral,1,801,0.528214,0.528214
4,TRAAAAW128F429D538,slow,1,325,0.919963,0.919963
5,TRAAABD128F429CF47,60s Rock,1,67,1.605771,1.605771
6,TRAAABD128F429CF47,Rock,1,592,0.659524,0.659524
7,TRAAABD128F429CF47,happiness,1,1434,0.275297,0.275297
8,TRAAABD128F429CF47,medium,1,1924,0.147641,0.147641
9,TRAAABD128F429CF47,neutral,1,801,0.528214,0.528214
10,TRAAAEF128F4273421,Alternative & Punk,1,617,0.641561,0.641561
11,TRAAAEF128F4273421,New Wave Pop,1,23,2.070118,2.070118
12,TRAAAEF128F4273421,medium,1,1924,0.147641,0.147641
13,TRAAAEF128F4273421,neutral,1,801,0.528214,0.528214
14,TRAAAEF128F4273421,sadness,1,666,0.608372,0.608372
15,TRAAAFD128F92F423A,Alternative & Punk,1,617,0.641561,0.641561
16,TRAAAFD128F92F423A,Pop Punk,1,52,1.715843,1.715843
17,TRAAAFD128F92F423A,Punk,1,157,1.235946,1.235946
18,TRAAAFD128F92F423A,anger,1,1072,0.401651,0.401651
19,TRAAAFD128F92F423A,medium,1,1924,0.147641,0.147641
20,TRAAAFD128F92F423A,sadness,1,666,0.608372,0.608372
21,TRAABLR128F423B7E3,Rock,1,592,0.659524,0.659524
22,TRAABLR128F423B7E3,medium,1,1924,0.147641,0.147641
23,TRAABLR128F423B7E3,neutral,1,801,0.528214,0.528214
24,TRAABNV128F425CEE1,Other,1,228,1.073911,1.073911
25,TRAABNV128F425CEE1,sadness,1,666,0.608372,0.608372
26,TRAABNV128F425CEE1,slow,1,325,0.919963,0.919963
27,TRAABVM128F92CA9DC,Hard Rock,1,40,1.829786,1.829786
28,TRAABVM128F92CA9DC,Rock,1,592,0.659524,0.659524
29,TRAABVM128F92CA9DC,medium,1,1924,0.147641,0.147641
...,...,...,...,...,...,...
11980,TRBIJES12903CF5B12,Metal,1,207,1.115876,1.115876
11981,TRBIJES12903CF5B12,Rock,1,592,0.659524,0.659524
11982,TRBIJES12903CF5B12,anger,1,1072,0.401651,0.401651
11983,TRBIJES12903CF5B12,medium,1,1924,0.147641,0.147641
11984,TRBIJES12903CF5B12,sadness,1,666,0.608372,0.608372
11985,TRBIJFB128F92ED124,Metal,1,207,1.115876,1.115876
11986,TRBIJFB128F92ED124,Rock,1,592,0.659524,0.659524
11987,TRBIJFB128F92ED124,anger,1,1072,0.401651,0.401651
11988,TRBIJFB128F92ED124,medium,1,1924,0.147641,0.147641
11989,TRBIJIA128F425F57D,Other,1,228,1.073911,1.073911
11990,TRBIJIA128F425F57D,happiness,1,1434,0.275297,0.275297
11991,TRBIJIA128F425F57D,medium,1,1924,0.147641,0.147641
11992,TRBIJIA128F425F57D,neutral,1,801,0.528214,0.528214
11993,TRBIJLT12903CE7070,Acoustic Blues,1,68,1.599337,1.599337
11994,TRBIJLT12903CE7070,Traditional,1,385,0.846385,0.846385
11995,TRBIJLT12903CE7070,happiness,1,1434,0.275297,0.275297
11996,TRBIJLT12903CE7070,medium,1,1924,0.147641,0.147641
11997,TRBIJMU12903CF892B,Metal,1,207,1.115876,1.115876
11998,TRBIJMU12903CF892B,Rock,1,592,0.659524,0.659524
11999,TRBIJMU12903CF892B,medium,1,1924,0.147641,0.147641
12000,TRBIJMU12903CF892B,sadness,1,666,0.608372,0.608372
12001,TRBIJNF128F14815A7,Jazz,1,97,1.445074,1.445074
12002,TRBIJNF128F14815A7,happiness,1,1434,0.275297,0.275297
12003,TRBIJNF128F14815A7,neutral,1,801,0.528214,0.528214
12004,TRBIJNF128F14815A7,slow,1,325,0.919963,0.919963
12005,TRBIJYB128F14AE326,Other,1,228,1.073911,1.073911
12006,TRBIJYB128F14AE326,Religious,1,39,1.840781,1.840781
12007,TRBIJYB128F14AE326,anger,1,1072,0.401651,0.401651
12008,TRBIJYB128F14AE326,happiness,1,1434,0.275297,0.275297
12009,TRBIJYB128F14AE326,medium,1,1924,0.147641,0.147641

In [6]:
Vect_len = TF[['track_id', 'TF-IDF']]
Vect_len['TF-IDF-Sq'] = Vect_len['TF-IDF']**2
Vect_len = Vect_len.groupby(['track_id'], as_index=False).sum().rename(columns={'TF-IDF-Sq':'TF-IDF-Sq-Sum'})[['track_id', 'TF-IDF-Sq-Sum']]
print Vect_len.columns
Vect_len['vect_len'] = np.sqrt(Vect_len[['TF-IDF-Sq-Sum']].sum(axis=1))

TF = pandas.merge(TF, Vect_len, on='track_id', how='left', sort=False)
TF['label_wt'] = TF['TF-IDF']/TF['vect_len']
TF.head(3)

Index([u'track_id', u'TF-IDF-Sq-Sum'], dtype='object')

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,track_id,label,label_count_TF,label_count_DF,IDF,TF-IDF,TF-IDF-Sq-Sum,vect_len,label_wt
0,TRAAAAW128F429D538,Urban,1,356,0.880396,0.880396,3.288459,1.813411,0.485492
1,TRAAAAW128F429D538,Western Hip-Hop/Rap,1,211,1.107564,1.107564,3.288459,1.813411,0.610763
2,TRAAAAW128F429D538,anger,1,1072,0.401651,0.401651,3.288459,1.813411,0.221489

## Prepare Users' Profiles

In [7]:
rating_df = pandas.read_csv(user_rating_path, sep='\t')
rating_df = rating_df[rating_df['rating']!=0]
rating_df

  username            track_id  rating
1      ali  TRAAABD128F429CF47       1
2      ali  TRAAAAW128F429D538       1

In [8]:
user_distinct = rating_df['username'].drop_duplicates()
user_profile = pandas.DataFrame()
i=1

for user in user_distinct:
    print(str(i)+' of '+str(len(user_distinct))+' users')
    
    user_data = rating_df[rating_df['username']==user]
    user_data = pandas.merge(user_data,TF, on='track_id', how='inner')
    user_data_processed = user_data.groupby('label', as_index=False).sum().rename(columns={'label_wt': 'label_pref'})[['label', 'label_pref']]
    user_data_processed['user'] = user
    user_profile = user_profile.append(user_data_processed, ignore_index=True)
    i+=1
print len(user_profile)
user_profile.head(5)

1 of 1 users
9

                 label  label_pref user
0             60s Rock    0.872126  ali
1                 Rock    0.358201  ali
2                Urban    0.485492  ali
3  Western Hip-Hop/Rap    0.610763  ali
4                anger    0.221489  ali

## Calculating cosine similarity for each song-user-pair

In [19]:
distinct_users=np.unique(rating_df['username'])
label_merge_all=pandas.DataFrame()

i=1
for user in distinct_users:
    
    # analizing user data one by one
    user_profile_all= user_profile[user_profile['user']==user]
    distinct_songs = np.unique(TF['track_id'])
    j=1
    for song in distinct_songs:

        if j%300==0:
            print 'song: ', j , 'out of: ', len(distinct_songs) , 'with user: ', i , 'out of: ', len(distinct_users)

        # analizing song one by one
        TF_song= TF[TF['track_id']==song]
        label_merge = pandas.merge(TF_song,user_profile_all,on = 'label', how = 'left', sort = False)
        label_merge['label_pref']=label_merge['label_pref'].fillna(0)
        
        # listing label_value= weight of the label * label profile of the user
        label_merge['label_value']=label_merge['label_wt']*label_merge['label_pref']

        # getting the label weight of the current user-song pair
        label_wt_val=np.sqrt(np.sum(np.square(label_merge['label_wt']), axis=0))
        
        # getting the label value of the current user-song pair
        label_pref_val=np.sqrt(np.sum(np.square(user_profile_all['label_pref']), axis=0))

        # summing the label_value (rating) of user-song pair
        label_merge_final = label_merge.groupby(['user','track_id']).agg({'label_value': 'sum'}).rename(columns = {'label_value': 'score'}).reset_index()

        # score = score / (label weight * label value)
        label_merge_final['score']=label_merge_final['score']/(label_wt_val*label_pref_val)

        label_merge_all = label_merge_all.append(label_merge_final, ignore_index=True)
        j=j+1
    i=i+1
    label_merge_all=label_merge_all.sort_values(by=['user','score']).reset_index(drop=True)
    
label_merge_all.head(10)

song:  300 out of:  2703 with user:  1 out of:  1
song:  600 out of:  2703 with user:  1 out of:  1
song:  900 out of:  2703 with user:  1 out of:  1
song:  1200 out of:  2703 with user:  1 out of:  1
song:  1500 out of:  2703 with user:  1 out of:  1
song:  1800 out of:  2703 with user:  1 out of:  1
song:  2100 out of:  2703 with user:  1 out of:  1
song:  2400 out of:  2703 with user:  1 out of:  1
song:  2700 out of:  2703 with user:  1 out of:  1

  user            track_id     score
0  ali  TRAEFOU128F932105B  0.002854
1  ali  TRALIZA128F4233586  0.002854
2  ali  TRANQLL128F92F5263  0.002854
3  ali  TRBEFFA128F930F017  0.002854
4  ali  TRAESWB128F149CB2C  0.003287
5  ali  TRAHMIV128F14693DC  0.003287
6  ali  TRAOPTT128F145837E  0.003287
7  ali  TRAYWLI128F9300223  0.003287
8  ali  TRBBYDT128F14805B4  0.003287
9  ali  TRBGCLK128F4237A50  0.003287

In [20]:
label_merge_all.sort_values(by='score', ascending=False).head(10)

     user            track_id     score
2690  ali  TRAQVDI128F42969C8  0.804297
2689  ali  TRAPLET128F145B049  0.770580
2688  ali  TRAXXVN128E0791AE4  0.744361
2679  ali  TRALVCW128F4288926  0.736058
2670  ali  TRAAAAW128F429D538  0.736058
2671  ali  TRAAABD128F429CF47  0.736058
2672  ali  TRAAZBD128F427A97D  0.736058
2673  ali  TRACHHH128E0788A35  0.736058
2674  ali  TRACVTK128F4288966  0.736058
2675  ali  TRADCIM128F427A3A1  0.736058

In [21]:
labels_df[labels_df['track_id']=='TRAQVDI128F42969C8']

                track_id     label  label_count
5995  TRAQVDI128F42969C8      Rock            1
5996  TRAQVDI128F42969C8  60s Rock            1
5997  TRAQVDI128F42969C8   neutral            1
5998  TRAQVDI128F42969C8      slow            1

In [23]:
labels_df[labels_df['track_id']=='TRAAAAW128F429D538']

             track_id                label  label_count
0  TRAAAAW128F429D538                Urban            1
1  TRAAAAW128F429D538  Western Hip-Hop/Rap            1
2  TRAAAAW128F429D538                anger            1
3  TRAAAAW128F429D538              neutral            1
4  TRAAAAW128F429D538                 slow            1

## Recommending (based on user profile)

In [9]:
rating_df

  username            track_id  rating
1      ali  TRAAABD128F429CF47       1
2      ali  TRAAAAW128F429D538       1